main {
    background-color: rgb(56, 56, 56);
}

p {
    color: white;
}

.storia {
    margin-top: 30px;
    color: white;
}

.vittorie {
    color: white;
}

.antonio {
    margin-top: 30px;
    color: white;
}